.section{
    height: 40%;
    width: 100%;
    display: grid;
    align-content: center;
    
}

.section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5% 0;
}

.section img{
  margin-top: 4%;
}

.section button{
    width: 80%;
    cursor: pointer;
    background-color: #7AE5D6;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    font-size: 1.3em;
    padding: 4%;
    border: 2px solid rgb(225, 225, 225);

}

.section button:hover{
   
  background-color: #1ce4c9;


}

.section div:nth-child(2) button{
  background-color:#DF5AD3;

}

.section div:nth-child(2) button:hover{   
    background-color:#d220c3;
}


@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .section{
    height: 60%;
    width: 100%;
}

.section button{
  width: 90%;
  cursor: pointer;
  background-color: #7AE5D6;
  border: none;
  border-radius: 30px;
  font-size: 1.1em;
  padding: 4%;
  margin-bottom: 2%;
  border: 2px solid rgb(225, 225, 225);

}

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .section{
    height: 60%;
    width: 100%;
}

.section button{
  width: 90%;
  cursor: pointer;
  background-color: #7AE5D6;
  border: none;
  border-radius: 30px;
  font-size: 1.1em;
  padding: 4%;
  margin-bottom: 2%;
  border: 2px solid rgb(225, 225, 225);

}

}

